/*Dropped styles*/
:root {
  --body-color: #2e2f42;
  --link-active: #404bbf;
  --nav-hover: #404bbf;
  --nav-focus: #434455;
  --top-contacts: #434455;
  --for-text: #434455;
  --services-btn: #4d5ae5;
  --current: #4d5ae5;
  --logo-web: #4d5ae5;
  --color-btn: #ffffff;
  --hover-btn: #404bbf;
  --color-services: #ffffff;
  --bg-services: #2e2f42;
  --for-h3: #2e2f42;
  --color-titel: #2e2f42;
  --ourteam-bg: #f4f4fd;
  --cards-bg: #ffffff;
  --footer-bg: #2e2f42;
  --footerlogo: #f4f4fd;
  --logo-footer: #e7e9fc;
  --filters-bg: #f4f4fd;
  --filters-bg-hover: #404bbf;
  --filters-br: #e7e9fc;
  --filters-text: #4d5ae5;
  --filters-text-hover: #ffffff;
  --label: #404bbf;
  --listitem-br: #e7e9fc;
  --listitem-bg: #ffffff;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
  color: var(--body-color);
}

/*--------Styles for index.html--------*/
body {
  color: var(--body-color);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.02em;
}

/*Header*/
.top-logo,
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  line-height: 1.34;
}
.logo-web {
  color: var(--logo-web);
  line-height: 1.34;
}
.top-menu .link:hover,
.top-contacts .link:hover {
  color: var(--nav-hover);
}
.top-menu .link:focus,
.top-contacts .link:focus {
  color: var(--nav-focus);
}
.top-menu {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.current {
  color: var(--current);
}
.top-contacts a {
  letter-spacing: 0.02em;
  color: var(--top-contacts);
  font-style: normal;
  line-height: 1.5;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*Services*/
.services {
  background-color: var(--bg-services);
  text-align: center;
}
.services-titel {
  color: var(--color-services);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.services-button {
  background-color: var(--services-btn);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: var(--color-btn);
  padding: 16px 32px;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.5;
  text-align: center;
}
.services-button:hover,
.services-button:focus {
  background-color: var(--hover-btn);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  cursor: pointer;
}
.features {
  color: var(--for-text);
}
.features-titel,
.cards > h3,
.gallery-list h2 {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: var(--for-h3);
}
.features-list {
  line-height: 1.5;
}
/*What are we do*/
.offer > h2,
.ourteam > h2 {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-titel);
}
.offer-list img {
  border: 1px solid #e7e9fc;
}

/*Our team*/
.ourteam {
  background-color: var(--ourteam-bg);
}
.cards {
  background-color: var(--cards-bg);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  padding: 0px 0px 32px;
}
.cards > h3 {
  text-align: center;
  line-height: 0.04;
}
.cards > p {
  text-align: center;
  line-height: 1.5;
  color: var(--for-text);
}

/*Footer*/
.footer {
  background-color: var(--footer-bg);
}
.footer-logo {
  color: var(--footerlogo);
}
.footer > p {
  color: var(--logo-footer);
  line-height: 1.31;
}

/*--------Styles for portfolio--------*/
.filters-btn {
  background-color: var(--filters-bg);
  border: 1px solid var(--filters-br);
  border-radius: 4px;
  font-weight: 500;
  color: var(--filters-text);
  letter-spacing: 0.04em;
  text-align: center;
  padding: 12px 24px;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
}
.filters-btn:hover {
  background-color: var(--filters-bg-hover);
  color: var(--filters-text-hover);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.gallery-list .list-item {
  /*background: var(--listitem-bg);
  border: 1px solid var(--listitem-br); */
}
.gallery-list p {
  color: var(--for-text);
  line-height: 1.5;
}
